<article id="application">
  <h1>Welcome to TechZone</h1>
  <section class="map-container">
    <div id="map"></div>
  </section>
  <section class="events">
    <ul id="eventList">
    </ul>
  </section>
</section>
