<!DOCTYPE html>
<html>
<head>
  <title>TechZone</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-Sc9GBII1e7YTEhL9tlKbkcqL8A6wG-U">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
